# Envs
.env
.env.*
!.env.*.example

# Builds / caches / logs
dist/
logs/
__pycache__/
*.pyc
*.pyo
*.log
*.zip
.venv/
.venv_x64/

# OS
Thumbs.db
.env.*.local
db.sqlite3
.coverage
.pytest_cache/
staticfiles/
*.mdf
*.ldf
*.bak
